{% do view.registerCssFile(siteUrl|trim('/') ~ '/assets/styles/DemoObject.css') %}

<div class="js-card o-DemoObject">
    <img src="{{ siteUrl|trim('/') }}/assets/img.jpg" alt="{{ card.title }}" />
    <h3 class="o-DemoObject_heading">{{ card.title }}</h3>
    <p>{{ card.body }}</p>
    <a href="{{ siteUrl|trim('/') }}/page" class="g-button -solid">Read</a>
    <button class="js-share-button g-button">Share</button>
</div>